# Team 6 - World Cup

![](https://img.fifa.com/image/upload/t_l4/v1543921822/ex1ksdevyxwsgu7rzdv6.jpg)

_For more information about the dataset, read [here](https://www.kaggle.com/abecklas/fifa-world-cup)._

## Your tasks
- Name your team!
- Read the source and do some quick research to understand more about the dataset and its topic
- Clean the data
- Perform Exploratory Data Analysis on the dataset
- Analyze the data more deeply and extract insights
- Visualize your analysis on Google Data Studio
- Present your works in front of the class and guests next Monday

## Submission Guide
- Create a Github repository for your project
- Upload the dataset (.csv file) and the Jupyter Notebook to your Github repository. In the Jupyter Notebook, **include the link to your Google Data Studio report**.
- Submit your works through this [Google Form](https://forms.gle/oxtXpGfS8JapVj3V8).

## Tips for Data Cleaning, Manipulation & Visualization
- Here are some of our tips for Data Cleaning, Manipulation & Visualization. [Click here](https://hackmd.io/cBNV7E6TT2WMliQC-GTw1A)

_____________________________

## Some Hints for This Dataset:
- Is there a way to integrate the data from all 3 datasets?
- It seems like the `winners` dataset doesn't have data of World Cup 2018. Can you Google the relevant information and add it to the dataset using `pandas`?
- The format of some number columns in `matches` dataset doesn't look right.
- Can you seperate the Date and the Time of `Datetime` column in `matches` dataset?
- And more...

### Import libraries

In [0]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### Create Data Frames

In [0]:
df_matches_raw = pd.read_csv('/content/gdrive/My Drive/PROJECTS/CoderSchool_Fansipan/github_repo/world-cup-da/data/matches.csv', encoding='utf-8')

df_players_raw = pd.read_csv('/content/gdrive/My Drive/PROJECTS/CoderSchool_Fansipan/github_repo/world-cup-da/data/players.csv', encoding='utf-8')

df_winners_raw = pd.read_csv('/content/gdrive/My Drive/PROJECTS/CoderSchool_Fansipan/github_repo/world-cup-da/data/winners.csv', encoding='utf-8')

# Clean Data

In [4]:
df_matches_raw.tail()

      Year Datetime Stage  ... MatchID Home Team Initials Away Team Initials
4567   NaN      NaN   NaN  ...     NaN                NaN                NaN
4568   NaN      NaN   NaN  ...     NaN                NaN                NaN
4569   NaN      NaN   NaN  ...     NaN                NaN                NaN
4570   NaN      NaN   NaN  ...     NaN                NaN                NaN
4571   NaN      NaN   NaN  ...     NaN                NaN                NaN

[5 rows x 20 columns]

In [5]:
df_players_raw.head(2)

   RoundID  MatchID Team Initials  ...      Player Name Position  Event
0      201     1096           FRA  ...      Alex THEPOT       GK    NaN
1      201     1096           MEX  ...  Oscar BONFIGLIO       GK    NaN

[2 rows x 9 columns]

In [7]:
df_winners_raw.head(2)

   Year  Country   Winner  ... QualifiedTeams MatchesPlayed Attendance
0  1930  Uruguay  Uruguay  ...             13            18    590.549
1  1934    Italy    Italy  ...             16            17    363.000

[2 rows x 10 columns]

#### Remove NaN

In [9]:
# Remove null rows of Matches dataset
# Get data when RoundID is null
df_matches = df_matches_raw[df_matches_raw["RoundID"].isnull() == False]
df_matches.head(2)

     Year              Datetime  ... Home Team Initials Away Team Initials
0  1930.0  13 Jul 1930 - 15:00   ...                FRA                MEX
1  1930.0  13 Jul 1930 - 15:00   ...                USA                BEL

[2 rows x 20 columns]

# EDA

#### Separate Datetime column of Matches dataset

In [0]:
# Separate DateTime column
df_matches.insert(loc = 2, column="Time", value="")

In [11]:
# Process Datetime values
df_matches.loc[:, 'Time'] = df_matches["Datetime"].apply(lambda x: x.split('-')[1].strip())
df_matches.loc[:, 'Datetime'] = df_matches["Datetime"].apply(lambda x: x.split('-')[0].strip())
df_matches.head(2)

     Year     Datetime   Time  ... MatchID Home Team Initials Away Team Initials
0  1930.0  13 Jul 1930  15:00  ...  1096.0                FRA                MEX
1  1930.0  13 Jul 1930  15:00  ...  1090.0                USA                BEL

[2 rows x 21 columns]

In [12]:
# Rename Datetime column
df_matches.rename(columns={'Datetime': 'Date'}, inplace=True)
df_matches.head(2)

     Year         Date   Time  ... MatchID Home Team Initials Away Team Initials
0  1930.0  13 Jul 1930  15:00  ...  1096.0                FRA                MEX
1  1930.0  13 Jul 1930  15:00  ...  1090.0                USA                BEL

[2 rows x 21 columns]